.container {
    padding: 70px;
}

.contactSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between
}

.infoContainer {
    flex: 1 1 40%;
    min-width: 280px;
}

.infoHeader {
    margin-bottom: 15%;
}

.infoHeader h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;

}



.infoLinks {
    display: flex;
    gap: 15px;
}

.infoLinks a {
    cursor: pointer;
}

.infoLinks img {
    width: 40px;
}




.contactForm {
    flex: 1 1 55%;
    min-width: 320px;
}

.formContainer {
    padding: 20px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .17);
    border-radius: 20px;
}

.formGroup {
    margin-bottom: 25px;
}

.formGroup label {
    display: block;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 8px;
    opacity: 0.8;
}

input,
textarea {
    width: 100%;
    padding: 15px;
    background-color: var(--inputBackground);
    border: none;
    border-radius: 4px;
    color: #000000;
    font-size: 16px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

textarea {
    resize: vertical;
    min-height: 150px;
}

input:focus,
textarea:focus {
    outline: none;
    background-color: var(--inputBackgroundFocus);
    color: #454545;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.formGroup:first-of-type input::placeholder {
    color: #000000;
}


.btn {
    border-radius: 50px !important;
}

.shadowContainer {
    padding: 20px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .17);
    border-radius: 20px;
}


@media (max-width: 992px) {
    .infoHeader h1 {
        font-size: 28px;
        line-height: 36px;
        text-align: center;
    }

    .infoHeader p {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 30px;
    }

    .contactSection {
        flex-direction: column;
        align-items: center;
    }

    .infoContainer,
    .contactForm {
        width: 100%;
    }
}