.row{
    justify-content: center !important;
}

.filterButton{
    display: flex;
    flex-direction: column;
    margin: 5%;
}


.projectsCards{
    max-width: 40%;
    min-width: 40%;
}

.border{
    max-width: 20%;
    min-width: 20%;
}